{% extends "base-web.html" %}
{% block content %}
    <div class="tasks">
        <div class="page-header">
            <h3>Analysis Tasks <small>performed, processing and pending analyses</small></h3>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th style="width: 40%;">Target</th>
                    <th>PCAP</th>
                    {% if suricfg.enabled %}
                        <th>Suri HTTP</th>
                        <th>Suri Alerts</th>
                        <th>Suri Extracted</th>
                    {% endif %}
                    {% if molochcfg.enabled %}
                        <th>Moloch</th>
                    {% endif %}
                    <th>Added</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.category|upper}}</td>
                    <td>
                        {% if row.processed %}
                            <a href="/view/{{row.id}}">
                        {% endif %}
                        <span class="mono">
                            {% if row.category == "file" %}
                                {{row.md5}}
                            {% elif row.category == "url" %}
                                {{row.target}}
                            {% endif %}
                        </span>
                        {% if row.processed %}
                            </a>
                        {% endif %}
                    </td>
                    <td><a href="/pcap/{{row.id}}"><span class="mono">PCAP</span></a></td>
                    {% if suricfg.enabled %}
                        <td><a href="/surihttp/{{row.id}}"><span class="mono">Suri HTTP</span></a></td>
                        <td><a href="/surialert/{{row.id}}"><span class="mono">Suri Alerts</span></a></td>
                        <td><a href="/surifiles/{{row.id}}"><span class="mono">Suri Extracted</span></a></td>
                    {% endif %}
                    {% if molochcfg.enabled %}
                        <td><a href="{{molochcfg.base}}/?date=-1&expression=tags+%3D%3D+%22{{row.id}}%22+%26%26+tags+%3D%3D+%22node%3A{{molochcfg.node}}%22" target="_blank"><span class="mono">Moloch</span></a></td>
                    {% endif %}
                    <td>{{row.added_on}}</td>
                    <td>{{row.status}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

